USE [LYCEUM]
GO
/****** Object:  Trigger [dbo].[TR_FCAV_LISTA_MATERIAL]    Script Date: 31/08/2018 08:31:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[TR_FCAV_LISTA_MATERIAL]
ON [dbo].[LY_DISCIPLINA]
AFTER UPDATE, INSERT 
AS
-- DECLARAÇÃO DE VARIAVEIS
DECLARE
	@POS1 AS INTEGER,
	@POS2 AS INTEGER,
	@POS3 AS INTEGER,
	@POS4 AS INTEGER,
	@POS5 AS INTEGER,
	@POS6 AS INTEGER,
	@POS7 AS INTEGER,
	@POS8 AS INTEGER,
	@POS9 AS INTEGER,
	@POS10 AS INTEGER,
	@POS11 AS INTEGER,
	@POS12 AS INTEGER,
	@POS13 AS INTEGER,
	@POS14 AS INTEGER,
	@POS15 AS INTEGER,
	@POS16 AS INTEGER,
	@POS17 AS INTEGER,
	@POS18 AS INTEGER,
	@POS19 AS INTEGER,
	@POS20 AS INTEGER,
	@POS21 AS INTEGER,
	@POS22 AS INTEGER,
	@POS23 AS INTEGER,
	@POS24 AS INTEGER,
	@POS25 AS INTEGER,
	@POS26 AS INTEGER,
	@POS27 AS INTEGER,
	@POS28 AS INTEGER,
	@POS29 AS INTEGER,
	@POS30 AS INTEGER,
	@POS31 AS INTEGER,
	@POS32 AS INTEGER,
	@POS33 AS INTEGER,
	@POS34 AS INTEGER,
	@POS35 AS INTEGER,
	@POS36 AS INTEGER,
	@POS37 AS INTEGER,
	@POS38 AS INTEGER,
	@POS39 AS INTEGER,
	@POS40 AS INTEGER,
	@POS41 AS INTEGER


-- ATRIBUIÇÃO DE POSIÇÕES INICIAIS DE CADA AULA
SELECT 
	@POS1 = CHARINDEX('Aula 01:',D.FL_FIELD_01,1),
	@POS2 = CHARINDEX('Aula 02:',D.FL_FIELD_01,@POS1),
	@POS3 = CHARINDEX('Aula 03:',D.FL_FIELD_01,@POS2),
	@POS4 = CHARINDEX('Aula 04:',D.FL_FIELD_01,@POS3),
	@POS5 = CHARINDEX('Aula 05:',D.FL_FIELD_01,@POS4),
	@POS6 = CHARINDEX('Aula 06:',D.FL_FIELD_01,@POS5),
	@POS7 = CHARINDEX('Aula 07:',D.FL_FIELD_01,@POS6),
	@POS8 = CHARINDEX('Aula 08:',D.FL_FIELD_01,@POS7),
	@POS9 = CHARINDEX('Aula 09:',D.FL_FIELD_01,@POS8),
	@POS10 = CHARINDEX('Aula 10:',D.FL_FIELD_01,@POS9),
	@POS11 = CHARINDEX('Aula 11:',D.FL_FIELD_01,@POS10),
	@POS12 = CHARINDEX('Aula 12:',D.FL_FIELD_01,@POS11),
	@POS13 = CHARINDEX('Aula 13:',D.FL_FIELD_01,@POS12),
	@POS14 = CHARINDEX('Aula 14:',D.FL_FIELD_01,@POS13),
	@POS15 = CHARINDEX('Aula 15:',D.FL_FIELD_01,@POS14),
	@POS16 = CHARINDEX('Aula 16:',D.FL_FIELD_01,@POS15),
	@POS17 = CHARINDEX('Aula 17:',D.FL_FIELD_01,@POS16),
	@POS18 = CHARINDEX('Aula 18:',D.FL_FIELD_01,@POS17),
	@POS19 = CHARINDEX('Aula 19:',D.FL_FIELD_01,@POS18),
	@POS20 = CHARINDEX('Aula 20:',D.FL_FIELD_01,@POS19),
	@POS21 = CHARINDEX('Aula 21:',D.FL_FIELD_01,@POS20),
	@POS22 = CHARINDEX('Aula 22:',D.FL_FIELD_01,@POS21),
	@POS23 = CHARINDEX('Aula 23:',D.FL_FIELD_01,@POS22),
	@POS24 = CHARINDEX('Aula 24:',D.FL_FIELD_01,@POS23),
	@POS25 = CHARINDEX('Aula 25:',D.FL_FIELD_01,@POS24),
	@POS26 = CHARINDEX('Aula 26:',D.FL_FIELD_01,@POS25),
	@POS27 = CHARINDEX('Aula 27:',D.FL_FIELD_01,@POS26),
	@POS28 = CHARINDEX('Aula 28:',D.FL_FIELD_01,@POS27),
	@POS29 = CHARINDEX('Aula 29:',D.FL_FIELD_01,@POS28),
	@POS30 = CHARINDEX('Aula 30:',D.FL_FIELD_01,@POS29),
	@POS31 = CHARINDEX('Aula 31:',D.FL_FIELD_01,@POS30),
	@POS32 = CHARINDEX('Aula 32:',D.FL_FIELD_01,@POS31),
	@POS33 = CHARINDEX('Aula 33:',D.FL_FIELD_01,@POS32),
	@POS34 = CHARINDEX('Aula 34:',D.FL_FIELD_01,@POS33),
	@POS35 = CHARINDEX('Aula 35:',D.FL_FIELD_01,@POS34),
	@POS36 = CHARINDEX('Aula 36:',D.FL_FIELD_01,@POS35),
	@POS37 = CHARINDEX('Aula 37:',D.FL_FIELD_01,@POS36),
	@POS38 = CHARINDEX('Aula 38:',D.FL_FIELD_01,@POS37),
	@POS39 = CHARINDEX('Aula 39:',D.FL_FIELD_01,@POS38),
	@POS40 = CHARINDEX('Aula 40:',D.FL_FIELD_01,@POS39),
	@POS41 = CHARINDEX('Aula 41:',D.FL_FIELD_01,@POS40)
		
FROM
	inserted AS D
WHERE
	D.FL_FIELD_01 <> ''
	--AND D.DISCIPLINA = 'CEQP-MQP'
	--D.DISCIPLINA = I.DISCIPLINA

-- DELETE NA DISCIPLINA QUE SERÁ ATUALIZADA
DELETE FCAV_LISTA_MATERIAL
FROM FCAV_LISTA_MATERIAL F
	INNER JOIN inserted I ON F.DISCIPLINA = I.DISCIPLINA
WHERE F.DISCIPLINA  = I.DISCIPLINA

INSERT INTO FCAV_LISTA_MATERIAL

-- SELECT PARA TRAZER OS RESULTADOS JÁ UTILIZANDO O UNPIVOT 
 SELECT DISCIPLINA, AULA, MATERIAL

 --INTO FCAV_LISTA_MATERIAL

 FROM (
 SELECT DISTINCT
	D2.DISCIPLINA,
 	SUBSTRING(D2.FL_FIELD_01,@POS1,ABS(@POS2 - @POS1)) AS "1",
	SUBSTRING(D2.FL_FIELD_01,@POS2,ABS(@POS3 - @POS2)) AS "2",
	SUBSTRING(D2.FL_FIELD_01,@POS3,ABS(@POS4 - @POS3)) AS "3",
	SUBSTRING(D2.FL_FIELD_01,@POS4,ABS(@POS5 - @POS4)) AS "4",
	SUBSTRING(D2.FL_FIELD_01,@POS5,ABS(@POS6 - @POS5)) AS "5",
	SUBSTRING(D2.FL_FIELD_01,@POS6,ABS(@POS7 - @POS6)) AS "6",
	SUBSTRING(D2.FL_FIELD_01,@POS7,ABS(@POS8 - @POS7)) AS "7",
	SUBSTRING(D2.FL_FIELD_01,@POS8,ABS(@POS9 - @POS8)) AS "8",
	SUBSTRING(D2.FL_FIELD_01,@POS9,ABS(@POS10 - @POS9)) AS "9",
	SUBSTRING(D2.FL_FIELD_01,@POS10,ABS(@POS11 - @POS10)) AS "10",
	SUBSTRING(D2.FL_FIELD_01,@POS11,ABS(@POS12 - @POS11)) AS "11",
	SUBSTRING(D2.FL_FIELD_01,@POS12,ABS(@POS13 - @POS12)) AS "12",
	SUBSTRING(D2.FL_FIELD_01,@POS13,ABS(@POS14 - @POS13)) AS "13",
	SUBSTRING(D2.FL_FIELD_01,@POS14,ABS(@POS15 - @POS14)) AS "14",
	SUBSTRING(D2.FL_FIELD_01,@POS15,ABS(@POS16 - @POS15)) AS "15",
	SUBSTRING(D2.FL_FIELD_01,@POS16,ABS(@POS17 - @POS16)) AS "16",
	SUBSTRING(D2.FL_FIELD_01,@POS17,ABS(@POS18 - @POS17)) AS "17",
	SUBSTRING(D2.FL_FIELD_01,@POS18,ABS(@POS19 - @POS18)) AS "18",
	SUBSTRING(D2.FL_FIELD_01,@POS19,ABS(@POS20 - @POS19)) AS "19",
	SUBSTRING(D2.FL_FIELD_01,@POS20,ABS(@POS21 - @POS20)) AS "20",
	SUBSTRING(D2.FL_FIELD_01,@POS21,ABS(@POS22 - @POS21)) AS "21",
	SUBSTRING(D2.FL_FIELD_01,@POS22,ABS(@POS23 - @POS22)) AS "22",
	SUBSTRING(D2.FL_FIELD_01,@POS23,ABS(@POS24 - @POS23)) AS "23",
	SUBSTRING(D2.FL_FIELD_01,@POS24,ABS(@POS25 - @POS24)) AS "24",
	SUBSTRING(D2.FL_FIELD_01,@POS25,ABS(@POS26 - @POS25)) AS "25",
	SUBSTRING(D2.FL_FIELD_01,@POS26,ABS(@POS27 - @POS26)) AS "26",
	SUBSTRING(D2.FL_FIELD_01,@POS27,ABS(@POS28 - @POS27)) AS "27",
	SUBSTRING(D2.FL_FIELD_01,@POS28,ABS(@POS29 - @POS28)) AS "28",
	SUBSTRING(D2.FL_FIELD_01,@POS29,ABS(@POS30 - @POS29)) AS "29",
	SUBSTRING(D2.FL_FIELD_01,@POS30,ABS(@POS31 - @POS30)) AS "30",
	SUBSTRING(D2.FL_FIELD_01,@POS31,ABS(@POS32 - @POS31)) AS "31",
	SUBSTRING(D2.FL_FIELD_01,@POS32,ABS(@POS33 - @POS32)) AS "32",
	SUBSTRING(D2.FL_FIELD_01,@POS33,ABS(@POS34 - @POS33)) AS "33",
	SUBSTRING(D2.FL_FIELD_01,@POS34,ABS(@POS35 - @POS34)) AS "34",
	SUBSTRING(D2.FL_FIELD_01,@POS35,ABS(@POS36 - @POS35)) AS "35",
	SUBSTRING(D2.FL_FIELD_01,@POS36,ABS(@POS37 - @POS36)) AS "36",
	SUBSTRING(D2.FL_FIELD_01,@POS37,ABS(@POS38 - @POS37)) AS "37",
	SUBSTRING(D2.FL_FIELD_01,@POS38,ABS(@POS39 - @POS38)) AS "38",
	SUBSTRING(D2.FL_FIELD_01,@POS39,ABS(@POS40 - @POS39)) AS "39",
	SUBSTRING(D2.FL_FIELD_01,@POS40,ABS(@POS41 - @POS40)) AS "40"

	FROM
	inserted D2
	--INNER JOIN  LY_DISCIPLINA AS D2 ON I.DISCIPLINA = D2.DISCIPLINA
	) p

UNPIVOT
	(MATERIAL FOR AULA IN 
						("1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20",
						"21","22","23","24","25","26","27","28","29","30","31","32","33","34","35","36","37","38","39","40")
		) AS UNPIVOT_MAT_AULA
		
WHERE
	MATERIAL <> ''


