select * from VW_FCAV_INSCRITOS where CANDIDATO = '201635013'

SELECT VW_FCAV_INSCRITOS.CONCURSO, VW_FCAV_INSCRITOS.CANDIDATO, VW_FCAV_INSCRITOS.NOME_COMPL, VW_FCAV_INSCRITOS.E_MAIL, VW_FCAV_INSCRITOS.DT_INSCRICAO FROM LYCEUM.dbo.VW_FCAV_INSCRITOS WHERE (VW_FCAV_INSCRITOS.CONCURSO='CEPSNG T 01' AND (VW_FCAV_INSCRITOS.INSCR_INTERNET='S' or VW_FCAV_INSCRITOS.TIPO_INGRESSO = 'Processo Seletivo'))
go

ALTER VIEW VW_FCAV_INSCRITOS  
  
/*  
 VIEW PARA AUXILIAR A PÁGINA DO APOIO WEB  
   
 É UTILIZADA NOs ARQUIVOs \\...\inetpub\wwwroot\web\resumo\resumo.asp e inscritos.asp  
   
 Motivo: o arquivo antigo não estava calculando os alunos de venda direta  

 Atualização:
	23/11/2016 - Criado mais um campo 'TIPO_INGRESSO', porque a pagina inscritos.asp, não estava trazendo os candidatos dos concursos 
				 que estavam com o TIPO_INGRESSO definido como 'Processo Seletivo'.
				 O arquivo inscritos.asp também foi alterado, onde ao invés de utilizar a tabela LY_CANDIDATO, foi alterado para view VW_FCAV_INSCRITOS. Gabriel SS
   
Gabriel S. Scalione  
Data: 09/03/2016  
  
SELECT * FROM VW_FCAV_INSCRITOS  WHERE CONCURSO LIKE 'A-GPMP%'  
  
*/  
  
AS  
  
SELECT DISTINCT  
 CA.CONCURSO,
 CO.TIPO_INGRESSO,  
 CA.CANDIDATO,   
 CA.NOME_COMPL,   
 CA.E_MAIL,   
 ca.DT_INSCRICAO,  
 CV.MATRICULADO,  
 CA.INSCR_INTERNET,  
 FC.DATA_INSC,  
 FC.CONVOCADO 
FROM   
 LYCEUM.dbo.LY_CANDIDATO CA  
 LEFT JOIN LY_CONVOCADOS_VEST CV ON CA.CANDIDATO = CV.CANDIDATO AND CA.CONCURSO = CV.CONCURSO  
 INNER JOIN FCAV_CANDIDATOS FC ON CA.CANDIDATO = FC.CANDIDATO AND CA.CONCURSO = FC.CONCURSO
 inner join LY_CONCURSO  CO ON CO.CONCURSO = CA.CONCURSO  
  
  
UNION  
  
SELECT DISTINCT  
 MP.TURMA CONCURSO, 
 'Venda Direta' as TIPO_INGRESSO,    
 ALUNO AS CANDIDATO,  
 MP.NOME_COMPL,   
 P.E_MAIL,   
 MP.DT_MATRICULA DT_INSCRICAO,  
 'S' AS MATRICULADO,  
 'S' AS INSCR_INTERNET,  
 MP.DT_MATRICULA DATA_INSC,  
 '1' CONVOCADO  
FROM   
 VW_FCAV_RESUMO_MATRICULA_E_PRE_MATRICULA MP  
 INNER JOIN LY_PESSOA P ON MP.PESSOA = P.PESSOA  
 INNER JOIN VW_FCAV_INI_FIM_CURSO_TURMA T ON MP.TURMA = T.TURMA  
WHERE  
 T.TP_INGRESSO = 'VD'  
   
  
  